
body {
  
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(120deg, #f889f6, #feb44d);
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333; /* Dark text color */
}

.container input[type="text"],
.container input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.container input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background: #333;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  background: #555;
}

.container p {
  margin-top: 15px;
  text-align: center;
  color: #666; /* Gray text color */
}

.container p a {
  color: #3498db; /* Blue link color */
  text-decoration: none;
}

.container p a:hover {
  text-decoration: underline;
}

nav {
  text-align: center;
  background-color: #333;
  padding: 10px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  background-image: url('images/banner2.jpg'); /* Add your background image URL here */
  background-size: cover;
  background-position: center;

}